<a href="https://colab.research.google.com/github/ashish2179/MachineLearning/blob/master/bulding_price_predict_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Installing and importing Google dependencies

In [0]:
!pip install -U -q pyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

##Googel Authentication

In [0]:
#authentication

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

## Kaggle API Authentication

In [0]:
#doc_id = 1IApwUE_auFQrUG6BvHoOTFzZQKYERcFB

pubg_data = drive.CreateFile({'id': '1IApwUE_auFQrUG6BvHoOTFzZQKYERcFB'})
pubg_data.GetContentFile('kaggle.json')

In [4]:
# Let's make sure the kaggle.json file is present.
!ls -lha kaggle.json

-rw-r--r-- 1 root root 72 Apr 10 10:08 kaggle.json

##install the Kaggle API client.

In [0]:
# Next, install the Kaggle API client.
!pip install -q kaggle

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

##List Kaggle datasets

In [8]:
# List available datasets.
!kaggle datasets list -s house-prices-advanced-regression-techniques

ref                                                   title                                               size  lastUpdated          downloadCount
----------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------
bjaton/housepricesadvancedregressiontechniquestrain   house-prices-advanced-regression-techniques-train   94KB  2018-01-04 23:54:46            107
ngee379k/house-prices-advanced-regression-techniques  House Prices: Advanced Regression Techniques        94KB  2018-02-12 20:44:07             86
lespin/house-prices-dataset                           House Prices dataset                               199KB  2018-02-18 20:39:04            288

##Download Kaggle required dataset
###(like here twitter-user-gender-classification)

In [9]:
# Copy the twitter data set locally.
!kaggle datasets download -d ngee379k/house-prices-advanced-regression-techniques

Downloading house-prices-advanced-regression-techniques.zip to /content
  0% 0.00/93.9k [00:00<?, ?B/s]
100% 93.9k/93.9k [00:00<00:00, 39.6MB/s]

In [10]:
!unzip house-prices-advanced-regression-techniques.zip

Archive:  house-prices-advanced-regression-techniques.zip
  inflating: housetrain.csv

In [0]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#encoding
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [13]:
data = pd.read_csv('housetrain.csv')
data.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [0]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
combine = [train_df, test_df]

In [0]:
print(train_df.columns.values)

['Id' 'MSSubClass' 'MSZoning' 'LotFrontage' 'LotArea' 'Street' 'Alley'
 'LotShape' 'LandContour' 'Utilities' 'LotConfig' 'LandSlope'
 'Neighborhood' 'Condition1' 'Condition2' 'BldgType' 'HouseStyle'
 'OverallQual' 'OverallCond' 'YearBuilt' 'YearRemodAdd' 'RoofStyle'
 'RoofMatl' 'Exterior1st' 'Exterior2nd' 'MasVnrType' 'MasVnrArea'
 'ExterQual' 'ExterCond' 'Foundation' 'BsmtQual' 'BsmtCond' 'BsmtExposure'
 'BsmtFinType1' 'BsmtFinSF1' 'BsmtFinType2' 'BsmtFinSF2' 'BsmtUnfSF'
 'TotalBsmtSF' 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' '1stFlrSF'
 '2ndFlrSF' 'LowQualFinSF' 'GrLivArea' 'BsmtFullBath' 'BsmtHalfBath'
 'FullBath' 'HalfBath' 'BedroomAbvGr' 'KitchenAbvGr' 'KitchenQual'
 'TotRmsAbvGrd' 'Functional' 'Fireplaces' 'FireplaceQu' 'GarageType'
 'GarageYrBlt' 'GarageFinish' 'GarageCars' 'GarageArea' 'GarageQual'
 'GarageCond' 'PavedDrive' 'WoodDeckSF' 'OpenPorchSF' 'EnclosedPorch'
 '3SsnPorch' 'ScreenPorch' 'PoolArea' 'PoolQC' 'Fence' 'MiscFeature'
 'MiscVal' 'MoSold' 'YrSold' 'SaleType' 'SaleCondition' 'SalePrice']

In [0]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [0]:
train_df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [0]:
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
Id               1459 non-null int64
MSSubClass       1459 non-null int64
MSZoning         1455 non-null object
LotFrontage      1232 non-null float64
LotArea          1459 non-null int64
Street           1459 non-null object
Alley            107 non-null object
LotShape         1459 non-null object
LandContour      1459 non-null object
Utilities        1457 non-null object
LotConfig        1459 non-null object
LandSlope        1459 non-null object
Neighborhood     1459 non-null object
Condition1       1459 non-null object
Condition2       1459 non-null object
BldgType         1459 non-null object
HouseStyle       1459 non-null object
OverallQual      1459 non-null int64
OverallCond      1459 non-null int64
YearBuilt        1459 non-null int64
YearRemodAdd     1459 non-null int64
RoofStyle        1459 non-null object
RoofMatl         1459 non-null object
Exterior1st      1458 non-null object
Exterior2nd      1458 non-null object
MasVnrType       1443 non-null object
MasVnrArea       1444 non-null float64
ExterQual        1459 non-null object
ExterCond        1459 non-null object
Foundation       1459 non-null object
BsmtQual         1415 non-null object
BsmtCond         1414 non-null object
BsmtExposure     1415 non-null object
BsmtFinType1     1417 non-null object
BsmtFinSF1       1458 non-null float64
BsmtFinType2     1417 non-null object
BsmtFinSF2       1458 non-null float64
BsmtUnfSF        1458 non-null float64
TotalBsmtSF      1458 non-null float64
Heating          1459 non-null object
HeatingQC        1459 non-null object
CentralAir       1459 non-null object
Electrical       1459 non-null object
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
LowQualFinSF     1459 non-null int64
GrLivArea        1459 non-null int64
BsmtFullBath     1457 non-null float64
BsmtHalfBath     1457 non-null float64
FullBath         1459 non-null int64
HalfBath         1459 non-null int64
BedroomAbvGr     1459 non-null int64
KitchenAbvGr     1459 non-null int64
KitchenQual      1458 non-null object
TotRmsAbvGrd     1459 non-null int64
Functional       1457 non-null object
Fireplaces       1459 non-null int64
FireplaceQu      729 non-null object
GarageType       1383 non-null object
GarageYrBlt      1381 non-null float64
GarageFinish     1381 non-null object
GarageCars       1458 non-null float64
GarageArea       1458 non-null float64
GarageQual       1381 non-null object
GarageCond       1381 non-null object
PavedDrive       1459 non-null object
WoodDeckSF       1459 non-null int64
OpenPorchSF      1459 non-null int64
EnclosedPorch    1459 non-null int64
3SsnPorch        1459 non-null int64
ScreenPorch      1459 non-null int64
PoolArea         1459 non-null int64
PoolQC           3 non-null object
Fence            290 non-null object
MiscFeature      51 non-null object
MiscVal          1459 non-null int64
MoSold           1459 non-null int64
YrSold           1459 non-null int64
SaleType         1458 non-null object
SaleCondition    1459 non-null object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [0]:
train_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [0]:
train_df.describe(include=['O'])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [0]:
x = train_df.iloc[:,:].values
le = LabelEncoder()
#X = [['A', 1], ['C', 2], ['I', 3], ['FV', 4], ['RH', 5], ['RL', 6], ['RP', 7], ['RM', 8]]
x[:,2] = le.fit_transform(x[:,2])
x[:,5] = le.fit_transform(x[:,5])
x[:,7] = le.fit_transform(x[:,7])
x[:,8] = le.fit_transform(x[:,8])
x[:,9] = le.fit_transform(x[:,9])
x[:,10] = le.fit_transform(x[:,10])
x[:,11] = le.fit_transform(x[:,11])
x[:,12] = le.fit_transform(x[:,12])
x[:,13] = le.fit_transform(x[:,13])
x[:,14] = le.fit_transform(x[:,14])
x[:,15] = le.fit_transform(x[:,15])
x[:,16] = le.fit_transform(x[:,16])
x[:,21] = le.fit_transform(x[:,21])
x[:,22] = le.fit_transform(x[:,22])
x[:,23] = le.fit_transform(x[:,23])
x[:,24] = le.fit_transform(x[:,24])
#x[:,25] = le.fit_transform(x[:,25])
x[:,27] = le.fit_transform(x[:,27])
x[:,28] = le.fit_transform(x[:,28])
x[:,29] = le.fit_transform(x[:,29])
#x[:,30] = le.fit_transform(x[:,30])
#x[:,31] = le.fit_transform(x[:,31])
#x[:,32] = le.fit_transform(x[:,32])
#x[:,33] = le.fit_transform(x[:,33])
# x[:,24] = le.fit_transform(x[:,24])
# x[:,25] = le.fit_transform(x[:,25])

x[:,78] = le.fit_transform(x[:,79])
x[:,79] = le.fit_transform(x[:,79])
y = pd.DataFrame(x)
print(y)
#ohe = OneHotEncoder(categorical_features=[3])
#x = ohe.fit_transform(x).toarray()

        0    1  2    3      4  5     6  7  8  9    ...   71   72     73    74  \
0        1   60  3   65   8450  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1        2   20  3   80   9600  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
2        3   60  3   68  11250  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
3        4   70  3   60   9550  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
4        5   60  3   84  14260  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
5        6   50  3   85  14115  1   NaN  0  3  0   ...    0  NaN  MnPrv  Shed
6        7   20  3   75  10084  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
7        8   60  3  NaN  10382  1   NaN  0  3  0   ...    0  NaN    NaN  Shed
8        9   50  4   51   6120  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
9       10  190  3   50   7420  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
10      11   20  3   70  11200  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
11      12   60  3   85  11924  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
12      13   20  3  NaN  12968  1   NaN  1  3  0   ...    0  NaN    NaN   NaN
13      14   20  3   91  10652  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
14      15   20  3  NaN  10920  1   NaN  0  3  0   ...    0  NaN   GdWo   NaN
15      16   45  4   51   6120  1   NaN  3  3  0   ...    0  NaN  GdPrv   NaN
16      17   20  3  NaN  11241  1   NaN  0  3  0   ...    0  NaN    NaN  Shed
17      18   90  3   72  10791  1   NaN  3  3  0   ...    0  NaN    NaN  Shed
18      19   20  3   66  13695  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
19      20   20  3   70   7560  1   NaN  3  3  0   ...    0  NaN  MnPrv   NaN
20      21   60  3  101  14215  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
21      22   45  4   57   7449  1  Grvl  3  0  0   ...    0  NaN  GdPrv   NaN
22      23   20  3   75   9742  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
23      24  120  4   44   4224  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
24      25   20  3  NaN   8246  1   NaN  0  3  0   ...    0  NaN  MnPrv   NaN
25      26   20  3  110  14230  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
26      27   20  3   60   7200  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
27      28   20  3   98  11478  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
28      29   20  3   47  16321  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
29      30   30  4   60   6324  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
...    ...  ... ..  ...    ... ..   ... .. .. ..   ...   ..  ...    ...   ...
1430  1431   60  3   60  21930  1   NaN  2  3  0   ...    0  NaN    NaN   NaN
1431  1432  120  3  NaN   4928  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
1432  1433   30  3   60  10800  1  Grvl  3  3  0   ...    0  NaN    NaN   NaN
1433  1434   60  3   93  10261  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
1434  1435   20  3   80  17400  1   NaN  3  2  0   ...    0  NaN    NaN   NaN
1435  1436   20  3   80   8400  1   NaN  3  3  0   ...    0  NaN  GdPrv   NaN
1436  1437   20  3   60   9000  1   NaN  3  3  0   ...    0  NaN   GdWo   NaN
1437  1438   20  3   96  12444  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1438  1439   20  4   90   7407  1   NaN  3  3  0   ...    0  NaN  MnPrv   NaN
1439  1440   60  3   80  11584  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1440  1441   70  3   79  11526  1   NaN  0  0  0   ...    0  NaN    NaN   NaN
1441  1442  120  4  NaN   4426  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1442  1443   60  1   85  11003  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1443  1444   30  3  NaN   8854  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1444  1445   20  3   63   8500  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1445  1446   85  3   70   8400  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1446  1447   20  3  NaN  26142  1   NaN  0  3  0   ...    0  NaN    NaN   NaN
1447  1448   60  3   80  10000  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1448  1449   50  3   70  11767  1   NaN  3  3  0   ...    0  NaN   GdWo   NaN
1449  1450  180  4   21   1533  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1450  1451   90  3   60   9000  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1451  1452   20  3   78   9262  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1452  1453  180  4   35   3675  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1453  1454   20  3   90  17217  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1454  1455   20  1   62   7500  1  Pave  3  3  0   ...    0  NaN    NaN   NaN
1455  1456   60  3   62   7917  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1456  1457   20  3   85  13175  1   NaN  3  3  0   ...    0  NaN  MnPrv   NaN
1457  1458   70  3   66   9042  1   NaN  3  3  0   ...    0  NaN  GdPrv  Shed
1458  1459   20  3   68   9717  1   NaN  3  3  0   ...    0  NaN    NaN   NaN
1459  1460   20  3   75   9937  1   NaN  3  3  0   ...    0  NaN    NaN   NaN

        75  76    77 78 79      80
0        0   2  2008  4  4  208500
1        0   5  2007  4  4  181500
2        0   9  2008  4  4  223500
3        0   2  2006  0  0  140000
4        0  12  2008  4  4  250000
5      700  10  2009  4  4  143000
6        0   8  2007  4  4  307000
7      350  11  2009  4  4  200000
8        0   4  2008  0  0  129900
9        0   1  2008  4  4  118000
10       0   2  2008  4  4  129500
11       0   7  2006  5  5  345000
12       0   9  2008  4  4  144000
13       0   8  2007  5  5  279500
14       0   5  2008  4  4  157000
15       0   7  2007  4  4  132000
16     700   3  2010  4  4  149000
17     500  10  2006  4  4   90000
18       0   6  2008  4  4  159000
19       0   5  2009  0  0  139000
20       0  11  2006  5  5  325300
21       0   6  2007  4  4  139400
22       0   9  2008  4  4  230000
23       0   6  2007  4  4  129900
24       0   5  2010  4  4  154000
25       0   7  2009  4  4  256300
26       0   5  2010  4  4  134800
27       0   5  2010  4  4  306000
28       0  12  2006  4  4  207500
29       0   5  2008  4  4   68500
...    ...  ..   ... .. ..     ...
1430     0   7  2006  4  4  192140
1431     0  10  2009  4  4  143750
1432     0   8  2007  4  4   64500
1433     0   5  2008  4  4  186500
1434     0   5  2006  4  4  160000
1435     0   7  2008  0  0  174000
1436     0   5  2007  4  4  120500
1437     0  11  2008  5  5  394617
1438     0   4  2010  4  4  149700
1439     0  11  2007  4  4  197000
1440     0   9  2008  4  4  191000
1441     0   5  2008  4  4  149300
1442     0   4  2009  4  4  310000
1443     0   5  2009  4  4  121000
1444     0  11  2007  4  4  179600
1445     0   5  2007  4  4  129000
1446     0   4  2010  4  4  157900
1447     0  12  2007  4  4  240000
1448     0   5  2007  4  4  112000
1449     0   8  2006  0  0   92000
1450     0   9  2009  4  4  136000
1451     0   5  2009  5  5  287090
1452     0   5  2006  4  4  145000
1453     0   7  2006  0  0   84500
1454     0  10  2009  4  4  185000
1455     0   8  2007  4  4  175000
1456     0   2  2010  4  4  210000
1457  2500   5  2010  4  4  266500
1458     0   4  2010  4  4  142125
1459     0   6  2008  4  4  147500

[1460 rows x 81 columns]

In [0]:
enc = OneHotEncoder()
X = [['A', 1], ['C', 2], ['I', 3], ['FV', 4], ['RH', 5], ['RL', 6], ['RP', 7], ['RM', 8]]
enc.fit(X)

OneHotEncoder(categorical_features=None, categories=None,
       dtype=<class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=True)

In [0]:
print(train_df.columns.values)

['Id' 'MSSubClass' 'MSZoning' 'LotFrontage' 'LotArea' 'Street' 'Alley'
 'LotShape' 'LandContour' 'Utilities' 'LotConfig' 'LandSlope'
 'Neighborhood' 'Condition1' 'Condition2' 'BldgType' 'HouseStyle'
 'OverallQual' 'OverallCond' 'YearBuilt' 'YearRemodAdd' 'RoofStyle'
 'RoofMatl' 'Exterior1st' 'Exterior2nd' 'MasVnrType' 'MasVnrArea'
 'ExterQual' 'ExterCond' 'Foundation' 'BsmtQual' 'BsmtCond' 'BsmtExposure'
 'BsmtFinType1' 'BsmtFinSF1' 'BsmtFinType2' 'BsmtFinSF2' 'BsmtUnfSF'
 'TotalBsmtSF' 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' '1stFlrSF'
 '2ndFlrSF' 'LowQualFinSF' 'GrLivArea' 'BsmtFullBath' 'BsmtHalfBath'
 'FullBath' 'HalfBath' 'BedroomAbvGr' 'KitchenAbvGr' 'KitchenQual'
 'TotRmsAbvGrd' 'Functional' 'Fireplaces' 'FireplaceQu' 'GarageType'
 'GarageYrBlt' 'GarageFinish' 'GarageCars' 'GarageArea' 'GarageQual'
 'GarageCond' 'PavedDrive' 'WoodDeckSF' 'OpenPorchSF' 'EnclosedPorch'
 '3SsnPorch' 'ScreenPorch' 'PoolArea' 'PoolQC' 'Fence' 'MiscFeature'
 'MiscVal' 'MoSold' 'YrSold' 'SaleType' 'SaleCondition' 'SalePrice']

In [0]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000